[user]
  name = 0nse
  email = 0nse@users.noreply.github.com
  signingkey = 1D1BB16F
[credential]
  helper = cache --timeout=3600
[color]
  diff = auto
  status = auto
  branch = auto
[push]
  default = simple
[merge]
  tool = vimdiff
  conflictstyle = diff3
[mergetool "diffconflicts"]
  cmd = diffconflicts vim $BASE $LOCAL $REMOTE $MERGED
  trustExitCode = true
  keepBackup = false
  prompt = false
[alias]
  commit = commit -S
  # git-number, see: https://github.com/holygeek/git-number
  st = number -s
  a = number add
  ap = number add -p
  r = number reset
  ci = number commit -S
  co = number checkout
  d = number diff
  nrm = number rm
  d = number diff
  ll = log --pretty=format:%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn] --decorate --numstat
  ld = log --pretty=format:%C(yellow)%h\\ %C(green)%ad%Cred%d\\ %Creset%s%Cblue\\ [%cn] --decorate --date=short --graph
  ls = log --pretty=format:%C(green)%h\\ %C(yellow)[%ad]%Cred%d\\ %Creset%s%Cblue\\ [%cn] --decorate --date=relative
  ltag = "!git log --oneline --decorate=short | awk '/tag/ {print substr($3,0,(length($3)-1)) \"\\t\" $1 \"\\t\" ($1=$2=$3=\"\") $0}'"
  undo = reset --soft 'HEAD^'
  redo = commit -c ORIG_HEAD
  ss = stash save --include-untracked
  ba = branch -avv
