@font-face {
  font-family: 'Helvetica neue';
  src: local('Roboto Light');
}

@font-face { /** paypal does this **/
  font-family: 'Helvetica Neue';
  src: local('Roboto Light');
}

@font-face { /** paypal does this **/
  font-family: 'HelveticaNeue';
  src: local('Roboto Light');
}

@font-face {
  font-family: 'Helvetica';
  src: local('Roboto');
}

@font-face {
  font-family: 'Calibri';
  src: local('Roboto');
}

@font-face {
  font-family: 'DejaVu Sans Mono';
  src: local('Source Code Pro');
}

@font-face {
  font-family: 'Trebuchet MS';
  src: local('Roboto');
}

@font-face {
  font-family: 'Comic Sans MS';
  src: local('Comic Neue');
}

@font-face {
  font-family: 'Courier';
  src: local('Source Code Pro');
}

/* Solarise inputs so that we don't end up with white text on white background */
textarea,
input[type="password"],
input[type="text"] {
  color: #657B83 !important;
  background-color: #002B36 !important;
}
